[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "undotree"]
	path = undotree
	url = https://github.com/mbbill/undotree.git
[submodule "Command-T"]
	path = Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommeter"]
	path = bundle/nerdcommeter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule "bundle/vmail"]
	path = bundle/vmail
	url = https://github.com/yuratomo/gmail.vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "/Users/yashasavelyev/.vim/bundle/autotag"]
	path = /Users/yashasavelyev/.vim/bundle/autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/misc"]
	path = bundle/misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/yashamon/vim-snippets.git
[submodule "bundle/ultisnippps"]
	path = bundle/ultisnippps
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/ulti"]
	path = bundle/ulti
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/autosave"]
	path = bundle/autosave
	url = https://github.com/vim-scripts/vim-auto-save.git
